.parent ul {
    display: flex;
    border: 1px solid red;
    padding: 10px;
    list-style: none;
    background-color: #e8e8e9; 
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.parent li {
    background-color: #8cacea;
    margin: 8px;
    padding: 4px;
    width: 100px;
    height: 100px;
    flex-grow: 1;
    flex-shrink: 0;
  }