.parent ul {
    display: flex;
    border: 1px solid red;
    list-style: none;
    background-color: #e8e8e9; 
    flex-direction: row;

  }

.parent li {
    background-color: #8cacea;
    margin: 8px;
    padding: 4px;
    flex: 0 0 auto ;
  }


  .parent li:nth-child(1) {

    margin-right: auto;

  }
