  /* p{
    background-color: #ffffff;
    color: #1A237E;
    
  } */
  ul {
    background-color: #ffffff;
  }
  li {
    color: #1A237E;
  }
  #small-circle {
    background-color: #4CAF50;
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }
  #big-circle {
    background-color: #4CAF50;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  ul {
    background-color: #03A9F4;
    padding: 10px;
    list-style: none;
  }
  ul li {
    background-color: #fff;
    border-radius: 3px;
    margin: 10px 0;
  }
  div {
    height: 50px;
    width: 200px;
    background-image: url('https://www.baidu.com/img/bd_logo1.png')
    /* display: inline-block; */
  }
  #left {
    width: 200px;
    background-color: #004590;
  }
  #right {
    width: 100px;
    background-color: #03A9F4;
  }


  .a{
    background-image: url('https://www.baidu.com/img/bd_logo1.png');
    color: red
  }